
.footer {
    background-color: #2a2b3b; 
    padding: 20px; 
    text-align: start; 
    padding-left: 15rem;
    padding-right: 15rem;
    color:white;
  }
  
  
  .footer-image {
    max-width: 100%; 
    height: auto;
  }
  
  .footer-media {
    height: 32px; 
    width: 32px; 
    margin-right: 10px; 

  }

  .line {
    background-color: #fff; 
    width: 100%; 
    height: 0.2px; 
    display: block; 
  }

