.card-grid-container {
    width: 1146px;
    height: 1234px;
    background-color: #303141;
    padding: 20px;
    border-radius: 2px;
    margin: 20px auto;
    overflow-y: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.text {
    margin-left:15rem;
    color: white;
}

.showing {
    color: white;
    margin-left:30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter-bar {
    background:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15rem;
    margin-right:20rem;
}

.game-select {
    color: white;
    width: 40%;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.3); 

}

.search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.3); 
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right:2rem ;
}

.filter-select {
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.3); 
    border: 1px solid #ccc;
}